.InputWrapper {
  input {
    min-height: 20px;
    border-radius: 4px;
    -webkit-appearance: none;
    border: 1px solid #ccd0d5;
    margin: 0;
    padding: 8px;
    background-color: #fff;
    color: #1c1e21;
    width: 100%;
  }
}
